export ENV=development
export DB_NAME=top100_development
export DB_USER=admin
export DB_PASSWORD=password
export DB_PORT=5432
export DB_HOST=localhost
export SSL_MODE=disable
export APP_URI=/Users/liam/work_space/apps/top100-scrapy
export AMQP_URL=amqp://guest:guest@localhost:5672
export TEST_DB_DSN=postgres://admin:password@localhost:5432/top100_test?sslmode=disable
export FIXTURES_URI=/Users/liam/work_space/apps/top100-scrapy/pkg/test/fixtures
export MAX_POOL_CONNECTIONS=25
export MIN_POOL_CONNECTIONS=5
